*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: linear-gradient(180deg, #09efff 50%, #efdc327e 80%);
    color: #333;
    line-height: 1.6; 
}

/* Header */
header{
  background: #0a3d62;
  padding: 0;
}

/* Container */
.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* Header Wrap */
.header-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Navbar */
nav ul{
  list-style: none;
  display: flex;
  gap: 25px;
  border: 2px solid rgba(255, 255, 255, 0.669);
  border-radius: 10px;
  padding: 10px 15px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  transition: 0.3s;
}

nav ul li a:hover{
  color: #fbc531;
  transition: 0,5s;
}

/* Buttons */
.header-btn input{
  padding: 8px 15px;
  border: none;
  background: #fbc531;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
  transition: 0.3s;
}

.header-btn input:hover{
  background: #fff;
}

/** Hero Section **/
.hero {
     width:100%;
    overflow:hidden;
}

.hero img{
    width:100%;
    height:auto;
    display:block;
    height:100vh;
    object-fit:cover;
}
/** Objective Section **/
.Objective{
    display: flex;
    padding: 40px 20px;
    text-align: center;
}

.Objective-head, h2 {
    
    display: block;
    font-size: 28px;
    background-image: linear-gradient(to top, #d8f22f 0%, #065bf0 100%);
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
    margin: 0;
}
.Objective-img img {
   width: 600px;
   height: 500px;
   object-fit: cover;
}
.Objective-text h2 { 
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(90deg, #0d00ff, #ff9900, #ff3700, #d400ff, #fff200);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
}

.Objective-text p{
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: center;
    padding: 20px;
}
.Objective-img h3 {
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, #0d00ff, #e100ff, #0ef0dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Objective-img p {
    font-size: 18px;
    color: #333;
    text-align: center;
}
                    ** Students Section **/
div h2 {
    font-size: 28px;
    background-image: linear-gradient(to top, #f22f7a 0%, #065bf0 100%);
}
div {
    display: block;
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

.Students {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
}

.student-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    align-items: center;
}
.student-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    width: 250px;
    height: auto;
    margin: 20px;
    object-fit: cover;
}
.student-card h3 {
    font-size: 28px;
    padding: 10px 0;
    color: #f40606;
    text-align: center;
    margin: 0;
}
.student-card p {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}
 .student-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    align-items: center;
}
             /* Admission Section */
.Admission {
    display: flex;
    padding: 40px 20px;
    text-align: center;
}
.admition-text h2{
    font-size: 28px;
    background-image: linear-gradient(to top, #e92efa 0%, #06f0f0 100%);
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
    margin: 0;
}
.admition-text p{
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: left;
    text-align: center;
    padding: 20px;
}
.admition-text a {
    text-decoration: none;
    color: #2e7bd3;     
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 2px solid black;
}
.admition-video video {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
        /* contact Section */
.contact{
    display: flex;
    padding: 40px 20px;
    text-align: center;
}
.contact-text p{
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    text-align: center;
    text-align: center;
    padding: 20px;
}
.contact-text a {
    text-decoration: none;
    color: #2e7bd3;     
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 10px;
    border: 2px solid black;
}
.contact-text a:hover {
    background: #132324bd;
    transition: 0.7s;
    padding: 8px 12px;
    color: azure;
    border-radius: 20px;
}
          /* Footer Section */
footer {
    background-color: #1c1c1b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}          